<h3>Edit a Comment</h3>
<p>Find me at app/views/comments/edit.html.erb</p>

<!-- This is very wierd: form_for([@comment.post, @comment]) -->
<%= form_for([@comment.post, @comment]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, rows: 6 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div>
  <p><%= link_to 'Back', post_path(@post) %> | <%= link_to "Home", controller: "welcome" %></p>
</div>
